<section id="sidebar">
    <div id="avatar">
        <a href="/"><div class="border">
            <div class="img_container"><img src ="{{ site.avatar}}" /></div>
        </div></a>
    </div>
    <div class="title"><a href="/">{{ site.title }}</a></div>
    <ul class="site_nav">
        <li><a href="/" {% if page.active == "index" %}class="selected"{% endif %} class="nav_items"> Home </a></li>
        <li><a href="/archive" {% if page.active == "archive" %}class="selected"{% endif %} class="nav_items"> Post </a></li>
        <li><a href="/publication" {% if page.active == "publication" %}class="selected"{% endif %} class="nav_items">Publications</a></li>
        <li><a href="/about" {% if page.active == "about" %}class="selected"{% endif %} class="nav_items">About</a></li>
        <li><a href="/feed.xml" class="nav_items"> Feed </a></li>
    </ul>

    <ul class="social">
        {% if site.email %}
        <li><a target="_blank" href="mailto: {{ site.email }}" class="mail-link"><i class="far fa-envelope fa-2x"></i></a></li>
        {% endif %}
        {% if site.github_username %}
        <li><a target="_blank" href="https://github.com/{{ site.github_username }}" class="github-link"><i class="fab fa-github fa-2x"></i></a></li>
        {% endif %}
        {% if site.twitter_username %}
        <li><a target="_blank" href="https://twitter.com/{{ site.twitter_username }}" class="twitter-link"><i class="fab fa-twitter fa-2x"></i></a></li>
        {% endif %}
        {% if site.resume %}
        <li><a target="_blank" href="{{ site.resume }}" class="resume-link"><i class="fas fa-id-card fa-2x"></i></a></li>
        {% endif %}
    </ul>

</section>
